extends layout

block content
  h1 Todo
  //todo 入力フォーム
  .form
    form#form
      p
        label(for='text') 内容
        input#text(type='text',name='text')
      p
        label(for='limit') 期限
        input#limit(type='date',name='limit')
      p
        input(type='submit',value'submit')
  //todo一覧を表示
  .list

//jquery todo.jsを読み込む
block scripts
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='javascripts/todo.js')


